/*Váriaveis e body */
:root{
    --cor-principal: #150a1d; /* Preto, cor principal que será usada na maior parte do projeto */
    --cor-secundária: #04107c; /* Azul escuro como cor secundária que dá contraste com o a cor principal */
    --cor-terciaria: #4a22a1; /* Tonalidade roxa para partes específicas */
    --cor-details: #0b9ca5; /* Tom de ciano, talvez nem seja usado */
}
*{
    font-family:Poppins, Lora, Nunito Sans;
    background-color: var(--cor-principal);
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* NAVBAR E ETC */
.navbar-holder{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:center;
    background-color: white;
    width:100vw;
    height:8vh;
}
.navbar-list{
    display:flex;
    list-style-type:none;
    gap: 1rem;
    padding: 0;
    background-color:white;
    justify-content:space-around;
}
.navbar-list li{
    display:flex;
    align-items:center;
    background-color:white;
    color:black;
}
.navbar{
    background-color: white;
    display:flex;
    align-items:center;
}