/*Váriaveis e body */
:root {
  --cor-principal: #000000; /* Preto, cor principal que será usada na maior parte do projeto */
  --cor-secundária: #030e70; /* Azul escuro como cor secundária que dá contraste com o a cor principal */
  --cor-terciaria: #4a22a1; /* Tonalidade roxa para partes específicas */
  --cor-details: #15b0bb; /* Tom de ciano, talvez nem seja usado */
  --animation-base-time: 2s; /*Tempo base de animações */
  --font-headers: 1.2em; /* Tamanho base da fonte de cabeçalhos */
  --font-clr: #f3f7f6; /* Cor base para fontes */
}
* {
  font-family: Poppins, Lora, Nunito Sans;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   background: linear-gradient(to bottom, var(--cor-principal), var(--cor-secundária));
   background-repeat: no-repeat;
   background-attachment: fixed;
}
/* NAVBAR E ETC */

.navbar-holder {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: 8vh;
  animation: showUp calc(var(--animation-base-time) * 2);
  padding-left: 3%;
  padding-top:1%;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  padding: 0;
}

.navbar-list li a {
  display: flex;
  align-items: center;
  color: var(--font-clr);
  position: relative;
  z-index: 0;
  cursor: pointer;
  font-size: var(--font-headers);
  text-decoration: none;
}

.navbar-list li a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background:var(--cor-details);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 130ms ease-in-out;
}

.navbar-list li a:hover::after, .navbar-list li a:hover {
  width: 100%;
  color: var(--cor-details);
}
/* ANIMAÇÕES */
@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100%;
  }
}