/*Váriaveis e body */
:root{
    --cor-principal: #150a1d; /* Preto, cor principal que será usada na maior parte do projeto */
    --cor-secundária: #04107c; /* Azul escuro como cor secundária que dá contraste com o a cor principal */
    --cor-terciaria: #4a22a1; /* Tonalidade roxa para partes específicas */
    --cor-details: #0b9ca5; /* Tom de ciano, talvez nem seja usado */
    --animation-base-time: 2s;
    --font-headers: 1.2em;
}
*{
    font-family:Poppins, Lora, Nunito Sans;
    background-color: var(--cor-principal);
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* NAVBAR E ETC */
.navbar-holder{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:center;
    background-color: white;
    width:100vw;
    height:8vh;
    animation: teste calc(var(--animation-base-time)*2);
}
.navbar-list{
    display:flex;
    list-style-type:none;
    gap: 1rem;
    padding: 0;
    background-color:white;
    justify-content:space-around;
}
.navbar-list li{
    display:flex;
    align-items:center;
    background-color:white;
    color:black;
    position:relative;
    z-index:0;
    cursor:pointer;
    font-size: var(--font-headers);
}
.navbar-list li::after{
    content: "";
    height: 4px;
    width: 0;    
    position:absolute;
    background: linear-gradient(to right, var(--cor-details), var(--cor-terciaria));
    bottom: 0;
    left:0;
    z-index:-1;
    transition: 130ms ease-in-out;
}
.navbar-list li:hover::after{
    width:100%;
}
.navbar{
    background-color: white;
    display:flex;
    align-items:center;
}
@keyframes teste{
    from{
        opacity:0;
    }
    to{
        opacity: 100%;
    }
}